@import url('https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

/* @font-face {
    font-family: "Nazwa";
    src: url("ścieżka");
} */

@font-face {
    font-family: "'Oswald', sans-serif";
    src: url("Oswald-VariableFont_wght.ttf");
}

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}


/* GALERIA */

.galeriabox {
    display: inline-block;
    background-color: #ffffff00;
    width: 40%;
    height: 75vh;
    margin: 15vh;
}

.galeriazdjecie:hover {
    z-index: 200;
    margin: 0;
    width: 41%;
    height: 31vh;
    background-image: cross-fade(2);
    background-color: rgb(0, 128, 128) !important;
    z-index: 100;
    cursor: pointer;
    border: 1px solid white;
}

.galeriazdjecie {
    margin: 3vh;
    padding: 1vh;
    width: 40%;
    height: 30vh;
    /* background-color: #000000; */
    transition: .5s all;
}

#galeria1 {
    margin: -5hv;
    background-image: url("animal-1851494_1920.jpg");
    background-size: cover;
}

#galeria2 {
    background-image: url("flower-2040613_1920.jpg");
    background-size: cover;
}

#galeria3 {
    margin-left: 20vw;
    margin-top: -70.5vh;
    background-image: url("light-1283987_1920.jpg");
    background-size: cover;
}

#galeria4 {
    margin-top: 3vh;
    margin-left: 20vw;
    background-image: url("woman-1338426_1920.jpg");
    background-size: cover;
}


/* GALERIA */


/* NAVBAR */

#navbar {
    font-family: 'Oswald', sans-serif;
    z-index: 500;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}

#navbar a {
    font-size: 2vh;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1vw 4vw 1vw 4vw;
    text-decoration: none;
    transition: .2s all;
}

#navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}


/* NAVBAR */


/* PRZYCISK */

.przycisk {
    width: 100%;
    height: 10vh;
    text-align: center;
    font-size: 6vh;
    text-decoration: none;
    color: white;
}

.przycisk.hover {
    text-decoration: none;
    color: white;
}


/* PRZYCISK */

.content1 {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url("chili-4954849_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    animation: fade 10s infinite;
}

@keyframes fade {
    0% {}
    25% {
        background-image: url("strawberry-4958079_1920.jpg");
    }
    50% {
        background-image: url("flower-2040613_1920.jpg");
    }
    75% {
        background-image: url("animal-1851494_1920.jpg");
    }
}

.fotografia {
    width: 100%;
    height: 30%;
    font-family: 'Oswald', sans-serif;
    font-size: 14vw;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2vh;
}

.oneshot {
    width: 100%;
    height: 20%;
    font-family: 'Oswald', sans-serif;
    font-size: 12vh;
    text-align: center;
    color: white;
    -webkit-text-fill-color: transparent;
    /* -webkit-background-clip: text; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.content2 {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url("fighting-fish-2009971_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url("autumn-2887556_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    mix-blend-mode: multiply;
    background-size: 150%;
}

.aboutustext {
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    width: 70%;
    height: 50vh;
    font-size: 3vh;
    border: 2px solid white;
    color: white;
    text-align: center;
    padding: 3vw;
}

.content4 {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url("lioness-2034816_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.content5 {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url("swan-3784050_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#kontakttext {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    font-size: 12vh;
    color: white;
    text-align: center;
    -webkit-text-fill-color: transparent;
    /* -webkit-background-clip: text; */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

.formularz {
    float: right;
    width: 100%;
    height: 60vh;
    text-align: center;
    background-color: #ffffff00;
}

.flexkontakt {
    height: 50vh;
    width: 100%;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
}

.formkontakt input {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    background-color: rgba(255, 255, 255, 0.253);
    border: 2px solid white;
    width: 20%;
    height: 5vh;
    text-align: center;
    color: white;
    margin-top: 2vh;
}

#przycisk {
    background-color: transparent;
    transition: .2s all;
}

#przycisk:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.content6 {
    background-color: black;
    width: 100%;
    height: 100vh;
    background-image: url("cute-3333079_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.oferta {
    margin-left: 9vw;
    padding: 1vw;
    width: 100%;
    height: 20vh;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 7vw
}

.button {
    /* border-radius: 2em; */
    margin-left: 10vw;
    width: 20%;
    height: 30vh;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2vh;
    text-align: center;
    /* border: 1px solid white; */
    transition: .2s all;
}

.button:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
}

#prz2 {
    margin-top: 3vh;
}


/* MOBILNE */

@media screen and (max-width:800px) {
    .aboutustext {
        font-size: 2.5vh;
    }
    .galeriazdjecie {
        background-size: 10%;
    }
    .formkontakt input {
        font-size: 2vw;
    }
    .content1 {
        background-image: url("flower-2040613_1920.jpg");
        animation: none;
    }
    .fotografia {
        padding: 2vh;
        margin-bottom: -15vh;
    }
}

@media screen and (min-width:675px) and (max-width:800px) {
    .fotografia {
        margin-bottom: 1vh;
    }
}

@media screen and (min-width:0px) and (max-width:1020) {}

@media screen and (max-width:870px) {
    .content2 {
        background-size: cover;
    }
}


/* MOBILNE */